
<% flash.each do |name, msg| -%>
<div class="alert alert-danger" role="alert">
      <%= content_tag :div, msg, class: name %>
</div>
<% end -%>

<div class="" style="width:50%;border:1px solid grey;margin:0 auto;margin-top:20px;padding:10px;border-radius:10px;">
  <div class="" style="float:left;">
    <%= link_to(image_tag(current_user.display_picture,style:'width:42px;height:42px;border-radius: 50%;object-fit: cover;margin:15px;'), {:controller => "instagram", :action => "currentuser" }) %>

  </div>
  <div class="" style="display:inline-block;margin-left:2px;font-size:15px;margin-top:22px;">
    <span style="font-weight: 500;"><%= current_user.username %></span>
  </div>
<%= form_for current_user, :url => { :controller => "instagram", :action => "update_password" }, :html => {:method => :post,style: "margin-top:40px !important;"} do |form|%>
    <p>
      <%= form.label "Old Password" %><br>
      <%= form.password_field :oldpw,class:"form-control" %>
    </p>
    <p>
      <%= form.label "New Password" %><br>
      <%= form.password_field :newpw,class:"form-control" %>
    </p>
    <p>
      <%= form.label "Confirm Password" %><br>
      <%= form.password_field :conpw,class:"form-control" %>
    </p>
    <p>
      <%= form.submit(class:"btn btn-primary") %>
    </p>
  <% end %>

</div>
