
<div style="width:60%;margin:0 auto;margin-top:20px;padding:20px;">
<% if @users.count>0 %>
<h2 style="margin-left: 290px;">Search result for "<%= @kw %>"</h2>
<table style="width:90%;">


<% @users.each do |user| %>
<tr>
  <td><a href="/instagram/show_user/<%= user.id %>" style="color: inherit;text-decoration: none;">

    <div class="" style="display:inline;">
      <%= image_tag(user.display_picture,style:'width:150px;height:150px;border-radius: 50%;object-fit: cover;margin:15px;') %>
    </div>
    <div class="" style="display:inline;margin-left:2px;font-size:40px;margin-top:22px;">
      <%=user.username%>
    </div>
  </a>
  </td>

  <td style="padding-bottom: 17px;">
    <a href="/instagram/follow/<%= user.id %>" class= "btn btn-outline-success my-2 my-sm-0"
    style="display:inline-block;font-size:20px;">

    <% if @followings.include?(user.id) %>
    Unfollow
    <% else %>
    Follow
    <% end %>

  </a>
  </td>



<br>
<% end %>
</table>
<% else %>
<h2 style="margin-left: 240px;">No result found for "<%= @kw %>"</h2>
<% end %>
</div>
